<section class="top-bar">
        <div class="wrap">
            <div class="top-bar-left">
                <h3>Bradford Sound Map</h3>
            </div>
            <div class="top-bar-right">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                      <a href="about.html">About</a>
                       <ul class="menu vertical">
                        <li><a href="about.html#part">Participants</a></li>
                        <li><a href="about.html#loc">Locations</a></li>
                        <li><a href="about.html#cat">Categories</a></li>
                      </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
        </div>
</section>